.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Aclonica;
  margin: 181px 102px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-family: Aclonica;
  margin-left: 102px;
  margin-right: 102px;
  margin-bottom: 60px;
  font-size: 1.875rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 2px;
    margin-left: 2px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 2px;
    margin-right: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}